[Desktop Entry]
Name=WmLoad
Comment=Load Monitoring Applet
Comment[pl]=Monitor Obciążenia Systemu
Exec=wmload -shape -withdrawn
Terminal=0
Type=Application
# vi: encoding=utf-8
