[Desktop Entry]
Name=WmLoad
Comment=Load Monitoring Applet
Comment[pl]=Monitor Obciążenia Systemu
Exec=wmload -shape -withdrawn
Terminal=false
Type=Application
Encoding=UTF-8
NotShowIn=GNOME;KDE;
Categories=Applet;
# vi: encoding=utf-8
